@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800');
*
{
    width: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
html
{
    scroll-behavior: smooth;
}
.header
{
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  7px -7px 15px #706d6d;
    content: ""; 
}
.logo
{
    width: 120px;
}
.Menu a
{
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin-right: 80px;
    text-decoration: none;
}
.Menu a:hover
{
    color: rgb(1, 116, 1);
}
.Menu a::after{
    border-radius: 27px ;
    background: #0a5700 ;
    box-shadow:  7px -7px 15px #2dd603;
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    bottom: -5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .4s ease;
}
.Menu a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.container  
{
    display: flex;
}
.sec1
{
    width: 50%;
    margin: 50px;
    padding: 30px;
}
.titulo
{
    margin: 30px;
    padding: 40px;
    font-size: 75px;
    display: flex;
    justify-content: start;
}
.titulo2
{
    margin: 30px;
    padding: 0 20px 20px 40px;
    font-size: 75px;
    display: flex;
    justify-content: start;
}
.star
{
    color: rgb(4, 104, 4);
    margin-left: 20px;
}
.desc
{
    margin: 30px;
    padding: 10px 0 20px 40px;
    display: flex;
    justify-content: start;
    font-size: 20px;
}
.verde
{
    display: flex;
    align-items: center;
    margin: 30px;
    width: 25%;
    height: 700px;
}
.redes
{
    width: 100px;
    height: 300px;
    margin-top: 170px;
    margin-left: 210px;
    background: #f7f7f7;
    border-radius: 20px;
    box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
                0 0 0 2px rgb(214, 214, 214),
                0.3em 0.3em 1em rgba(163, 163, 163, 0.3);
}
.iconos
{
    width: 4;
    margin: 23px;
    height: 50px;
}
.footer
{
    position: fixed;
    margin: 600px;
    margin-left: 800px;
}
.small
{
    transform: translateX(-50%);
    margin: 30px;
    padding: 2px;
    transition: 0.5s ease-in-out;
}
.small:hover
{
    transform: translateY(-15px);
}
@media screen and (max-width: 1629px) 
{
    *
    {
        width: 100;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:'Poppins', sans-serif;
        border: 2px solid black;
    }
    .header
    {
        top: 0;
        left: 0;
        width: 89.8%;
        padding: 25px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow:  7px -7px 15px #706d6d;
        content: "";
    }
    .container  
    {
        display: flex;
        width: 89.8%;
    }
    .sec1
    {
        width: 50%;
        height: 530px;
        margin: 30px;
        padding: 20px;
    }
    .titulo
    {
        font-size: 45px;
    }
    .titulo2
    {
        margin: 30px;
        padding: 0 20px 20px 40px;
        font-size: 45px;
        display: flex;
        justify-content: start;
    }
    .star
    {
        color: rgb(4, 104, 4);
        margin-left: 10px;
    }
    .desc
    {
        margin: 30px;
        padding: 10px 0 20px 40px;
        display: flex;
        justify-content: start;
        font-size: 15px;
    }
    .verde
    {
        display: flex;
        align-items: center;
        margin: 30px;
        width: 25%;
        height: 531px;
    }
    .redes
    {
        width: 100px;
        height: 300px;
        margin-top: 120px;
        margin-left: 130px;
        background: #f7f7f7;
        border-radius: 20px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0.1),
                    0 0 0 2px rgb(214, 214, 214),
                    0.3em 0.3em 1em rgba(163, 163, 163, 0.3);
    }
    .iconos
    {
        width: 4;
        margin: 18px;
        height: 50px;
    }
    .footer
    {
        margin: 370px;
        margin-left: 500px;
    }
    .small
    {
        transform: translateX(-50%);
        margin: 10px;
        transition: 0.5s ease-in-out;
        border: 2px solid red;
    }
}